.flex.row{
    display: flex;
    flex-wrap: wrap;
}
.thumbnail img{
    width: 100%;
}
.center-form{
    width: 50%;
    margin: 0 auto;
}
.inline-form{
    display: inline-block;
}

.list-group-item-text.comment{
    padding: 7px 0;
}
textarea.form-control{
    resize: none;
}

#map{
    height: 400px;
    margin-bottom: 20px;
}

@media screen and (max-width: 550px){
    .center-form{
        width: 80%;
    }
}

footer.well{
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    margin-top: 20px;
}
.fa-github, .fa-envelope{
    color: #fff;
    padding-left: 5px;
    transition-duration: 0.2s;
}
.footer-info .fa:hover{
    transform: scale(1.3);
}